/* Normalizando CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* Background preto */
.background-black {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botões */
.btn-purple {
    background: linear-gradient(135deg, #8A2BE2, #4B0082);
    border: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-purple:hover {
    background: linear-gradient(135deg, #4B0082, #8A2BE2);
    box-shadow: 0 0 0 2px white;
}

/* Texto */
.text-purple {
    background: linear-gradient(135deg, #8A2BE2, #4B0082);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.3s ease, color 0.3s ease;
}

.text-purple:hover {
    color: white;
}

/* Containers */

/* Login */
.login-container {
    background: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

/* Cadastro */
.cadastro-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

/* Rótulos - Input */
.form-label {
    transition: all 0.3s ease;
}

/* Estilos para os rótulos quando o input correspondente recebe foco */
.form-control:focus + .form-label {
    font-size: 0.75rem;
    transform: translateY(-1rem);
}

/* Adiciona uma borda transparente inicialmente */
.form-control {
    border: 4px solid transparent;
    transition: border-color 0.3s ease;
}

/* Adiciona uma borda com gradiente roxo quando o input está em foco */
.form-control:focus {
    border: 4px solid;
    border-image: linear-gradient(135deg, #8A2BE2, #4B0082) 1;
}

/* Estilos para a parte de trás da borda, para evitar que o gradiente vaze */
.form-control:focus::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 2px;
    z-index: 0;
    border: 4px solid transparent;
    border-image: linear-gradient(135deg, #8A2BE2, #4B0082) 1;
    transition: border-color 0.3s ease;
}

/* Formatação */
@media screen and (max-width: 768px) {
    /* Adaptações para telas menores */
    .login-container {
        padding: 20px;
    }

/* Animações */

.eye-open {
    animation: eye-open-animation 0.3s ease forwards;
}

.eye-closed {
    animation: eye-closed-animation 0.3s ease forwards;
}

@keyframes eye-open-animation {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

@keyframes eye-closed-animation {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

}
